<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="pink.madis.counter.coroutines" >
    <application android:name=".App"
      android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar"
      android:label="@string/counter"
      android:allowBackup="false"
      tools:ignore="MissingApplicationIcon">
        <activity android:name=".CounterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
